<!DOCTYPE html>
<html>
  <head>
    <title>Challange</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="container-fluid nav-collapse">
            <ul class="nav pull-left">
              <li><%= link_to "ChallageTest", "/", :class=>"brand" %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span10 offset1">
          <%= yield %>
        </div>
      </div>
    </div>
    <div style="clear:both;"></div>

  </body>
</html>
